* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: Georgia, serif;
  font-size: 16px;
  color: #333;
}

h2,h3,h4,h5 {
  margin: 1.5em 0 0.5em;
}

a,
a:visited {
  color: #275D97;
  text-decoration: none;
}
a:hover,
a:visited:hover,
a.black:hover,
a.black:visited:hover {
  color: #999;
}
a.black,
a.black:visited {
    color: #333;
}

p {
  margin: 0 0 1em;
  line-height: 1.5em;
}
ul,
ol {
    margin: 1em 0;
    margin-left: 1.5em;
}
li {
    margin: 0.5em 0;
    line-height: 1.5em;
}
.clear {
  clear: both;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 1em auto 3em;
  padding: 0 1em;
}
.header {
    margin: 0 0 3em;
}
.header .title {
    float: left;
}
.header .title h1 {
  font-size: 2.1em;
  line-height: 1.4em;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  margin-bottom: 0.05em;
}
.header .title p {
  color: #999;
  font-size: 0.9em;
}
.header .links {
    float: right;
    text-align: right;
    margin-top: 1.45em;
}
.header .links p {
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
.header .links a.inline {
  margin-left: 0.7em;
}
@media(max-width: 685px) {
    .wrapper {
        max-width: 400px;
    }
    .header .title,
    .header .links {
        float: none;
        text-align: left;
    }
    .header .links a.inline {
        margin-left: 0;
        margin-right: 0.7em;
    }
}

/* Home */
.posts {
    text-align: center;
}
.post {
    display: inline-block;
    width: 50%;
    margin: 1em -2px 2em;
    vertical-align: top;
    text-align: left;
}
.post img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.post:nth-child(2n - 1) {
    padding-right: 1em;
}
.post:nth-child(2n) {
    padding-left: 1em;
}
.post .title a {
    margin-right: 0.2em;
}
.post .title .date {
    font-family: Arial, sans-serif;
    font-size: 0.7em;
    color: #999;
    white-space: nowrap;
}
.post .blurb {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin-top: 0.5em;
}
@media(max-width: 685px) {
    .post {
        width: 100%;
    }
    .post:nth-child(2n - 1),
    .post:nth-child(2n) {
        padding: 0;
    }
}

/* Post */
#post p {
    font-size: 1.1em;
    line-height: 1.6em;
}
#post pre {
  overflow: auto;
  padding: 1em 0;
}
#post .lineno {
  display: inline-block;
  width: 28px;
  padding: 1px 5px;
  text-align: right;
  color: #666;
  background-color: #eee;
  border-right: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#post blockquote {
  margin: 1em;
  padding-left: 1em;
  font-family: Helvetica, Arial, sans-serif;
  border-left: 4px solid #ccc;
}
#post img {
  max-width: 100%;
}

