* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  font-family: 'PT Serif', Georgia, serif;
  font-size: 16px;
  color: #333;
}
a {
  color: #275D97;
  text-decoration: none;
}
a:visited {
  color: #275D97;
}
a:hover {
  color: #666;
}
p {
  margin: 10px 0;
}
.clear {
  clear: both;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}
.header {
  margin: 20px 10px;
}
.header .title h1 {
  font-size: 3em;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
}
.header .title h1 a {
  color: #333;
}
.header .title h1 a:hover {
  color: #666;
}
.contact {
  font-size: 0.9em;
}
.more {
  margin: 40px 10px;
  font-size: 0.9em;
}
.more a {
  margin-right: 20px;
}

/* Home */
.post {
  margin: 30px 0;
}
.post .for {
  float: left;
  margin-right: 5px;
  margin-left: 10px;
}
.post .for img {
  max-height: 25px;
  margin-bottom: 3px;
}
.post .title {
  font-size: 1.1em;
  line-height: 25px;
  margin-bottom: 3px;
  margin: 0 10px;
}
.post .tease {
  text-align: center;
}
.post .tease img {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  max-width: 470px;
  margin: auto;
}
.blurb {
  font-size: 1em;
  margin: 0 10px;
}
.blurb p {
  margin: 0;
}
.blurb .date {
  font-family: 'News Cycle', Helvetica, serif;
  display: none;
}
.tease-blurb {
  float: left;
  margin: 0 10px;
}

@media all and (min-width: 460px) {
  .header .title h1 {
    float: left;
  }
  .contact {
    float: right;
    margin-top: 5px;
    text-align: right;
  }
}

@media all and (min-width: 470px) {
  .post .tease img {
    border: 1px solid #ccc;
  }
}

@media all and (min-width: 490px) {
  .wrapper {
    max-width: 490px;
  }
  .post .tease {
    margin: 0 10px;
  }
}

@media all and (min-width: 720px) {
  .wrapper {
    max-width: 720px;
  }
  .post {
    margin: 40px 0;
  }
  .post .title {
    font-size: 1em;
  }
  .post .tease {
    float: left;
  }
  .post .blurb {
    font-size: 0.9em;
  }
  .post .tease-blurb {
    width: 208px;
    margin-left: 0px;
  }
  .blurb .date {
    display: block;
  }
}

/* Post */
#post {
  margin: 0 10px;
}
#post p {
  margin: 14px 0;
  line-height: 24px;
  font-size: 1em;
}
#post pre {
  overflow: scroll;
  padding: 10px 0;
}
#post .lineno {
  display: inline-block;
  width: 28px;
  padding: 1px 5px;
  text-align: right;
  color: #666;
  background-color: #eee;
  border-right: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#post blockquote {
  padding: 10px;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
#post img {
  max-width: 100%;
}

/* About */
#about {
  margin: 0 10px;
}

