{{- define "main" -}}

<div class="mb-8">
  <h2 class="text-sm uppercase mt-0 mb-1 opacity-60">Tagged</h2>
  <h1 class="mt-0 mb-0">#{{ .Title }}</h1>
</div>

{{ $labels := dict "project" "Project" "post" "Blog post" "link" "Short post" }}

<div
  class="rounded-lg bg-white dark:bg-black border border-black/10 dark:border-white/10 p-5 mb-8"
>
  <div class="divide-y divide-solid divide-black/10">
    {{ range sort .Pages "Date" "desc" }}
    <div class="py-2">
      <p class="my-0">
        <a href="{{ .Params.external_url | default .Permalink }}">{{ .Title }}</a>
      </p>
      <time class="text-xs text-gray-500">
        {{ .Date | time.Format ":date_medium" }}
        <span class="mx-1">&middot;</span>
        {{ index $labels .Type | default .Type }}
      </time>
    </div>
    {{ end }}
  </div>
</div>

{{- end -}}
