---
import { getCollection } from "astro:content"
import SiteLayout from "../../layouts/SiteLayout.astro"
import Pagination from "../../components/Pagination.astro"
import PostList from "../../components/PostList.astro"
import { notDraft, paginate, sortByDateDesc } from "../../lib/collections"

const entries = sortByDateDesc((await getCollection("post")).filter(notDraft))
const pages = paginate(entries)
---

<SiteLayout title="Long posts" canonical="/post/" rssHref="/post/index.xml">
  <h2 class="t-kicker">Long posts</h2>
  <PostList entries={pages[0]} />
  <Pagination page={1} totalPages={pages.length} basePath="/post/" />
</SiteLayout>
