/* Import the Paper theme's styles */
@import "../themes/paper/assets/app.css";

/* Override page background to be subtle gray */
body {
  background-color: color-mix(in srgb, #000 3%, transparent) !important;
}

body:where(.dark, .dark *) {
  background-color: color-mix(in srgb, #fff 8%, transparent) !important;
}

main {
  padding-top: calc(var(--spacing) * 5);
  padding-bottom: calc(var(--spacing) * 5);
}

h1 {
  font-size: 2rem;
}

article code {
  font-size: inherit !important;
}

/* Override prose link colors */
/* .prose { */
/*   --tw-prose-links: var(--color-purple-800); */
/*   --tw-prose-invert-links: var(--color-purple-400); */
/* } */

.link-item p {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.project-item p {
  margin-top: 0.5em;
}
.project-item img {
  margin-top: 0;
  margin-bottom: 0;
}

time a {
  text-decoration: none !important;
}

/* Scale down fonts and spacing on very small screens */
@media (max-width: 475px) {
  :root {
    --spacing: 0.2rem; /* Smaller base spacing unit */
  }

  html {
    font-size: 14px; /* Makes all rem units smaller */
  }
}
