/* Import the Paper theme's styles */
@import "../themes/paper/assets/app.css";

/* Override page background to be subtle gray */
body {
  background-color: color-mix(in srgb, #000 3%, transparent) !important;
}

body:where(.dark, .dark *) {
  background-color: color-mix(in srgb, #fff 8%, transparent) !important;
}

/* Override prose link colors */
.prose {
  --tw-prose-links: var(--color-purple-400);
}

.link-item p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.project-item p {
  margin-top: 0.5em;
}
.project-item img {
  margin-top: 0;
  margin-bottom: 0;
}

time a {
  text-decoration: none !important;
}
