  <footer>
    {{ if .GetTerms "tags" }}
    <p>
      <i>
      Tags:
      {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>&nbsp;
      {{ end }}
      </i>
    </p>
    {{ end }}
    
    {{ if eq .Section "post" | eq .Section "til" }}

      {{ partial "comments.html" . }}

      <hr />
      
      Like this post? Follow my <a href="http://localhost:4321/index.xml">RSS feed</a>, my <a href="https://tilde.zone/@kevinschaul">Mastodon</a>, or email me at firstname.lastname@gmail.com.
    {{ end }}
    
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  </footer>
  </article>
  </body>
</html>
