  <footer>
    {{ if .GetTerms "tags" }}
    <p>
      <i>
      Tags:
      {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>&nbsp;
      {{ end }}
      </i>
    </p>
    {{ end }}
    
    {{ if or (eq .Section "post") (eq .Section "til") }}

      <hr />
      
      Tell me what you think: <a href="https://bsky.app/profile/kevinschaul.bsky.social">@kevinschaul.bsky.social</a>
    {{ end }}
    
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  </footer>
  </article>
  </body>
</html>
