{{- define "main" -}}

<!-- Homepage Content -->
{{ .Content }}

<div
  class="rounded-lg bg-white dark:bg-black border border-black/10 dark:border-white/10 p-5 mb-8"
>
  <h2 class="text-sm uppercase mt-0 mb-4">Short posts</h2>
  <div class="divide-y divide-solid divide-black/10">
    {{ range first 3 (where site.RegularPages "Type" "link") }} {{ partial
    "link-item.html" . }} {{ end }}
  </div>
  <p class="mt-4 mb-0">
    <a href="/link/" class="text-purple-400 hover:underline"
      >More short posts →</a
    >
  </p>
</div>

<!-- Posts section with 3 most recent excerpts -->
<div
  class="rounded-lg bg-white dark:bg-black border border-black/10 dark:border-white/10 p-5 mb-8"
>
  <h2 class="text-sm uppercase mt-0 mb-4">Long posts</h2>
  <div class="divide-y divide-solid divide-black/10">
    {{ range first 3 (where site.RegularPages "Type" "post") }}
    <div class="post-item pb-2">
      <p class="mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      <time class="text-xs text-gray-500">
        {{ .Date | time.Format ":date_medium" }}
      </time>
    </div>
    {{ end }}
  </div>
  <p class="mt-4 mb-0">
    <a href="/post/" class="text-purple-400 hover:underline"
      >More long posts →</a
    >
  </p>
</div>

<!-- Projects section with 4 most recent excerpts -->
<div
  class="rounded-lg bg-white dark:bg-black border border-black/10 dark:border-white/10 p-5 mb-0"
>
  <h2 class="text-sm uppercase mt-0 mb-4">Projects</h2>
  <div class="divide-y divide-solid divide-black/10">
    {{ range first 4 (where site.RegularPages "Type" "project") }} {{ partial
    "project-item.html" . }} {{ end }}
  </div>
  <p class="mt-4 mb-0">
    <a href="/project/" class="text-purple-400 hover:underline"
      >More projects →</a
    >
  </p>
</div>
{{- end -}}
