<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">

  <style>
    @import url(//fonts.googleapis.com/css?family=News+Cycle:400,700);
    @import url(//fonts.googleapis.com/css?family=PT+Serif:400,700);
  </style>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26342709-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="wrapper">
    <div class="header">
      <div class="title">
        <h1><a class="black" href="/">{{ site.name }}</a></h1>
      </div>
      <div class="links">
        <p>
          <a class="inline" href="/favorites/">Favorite links</a>
          <a class="inline" href="/archive/">Archive</a>
          <a class="inline" href="/contact/">Contact</a>
        </p>
        <p>
          <a target="_blank" href="mailto:kevin.schaul@gmail.com">kevin.schaul@gmail.com</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>

    {{ content }}

  </div>

</body>
</html>
